
.body{
    background:rgb(34, 105, 187);
}
.login-body{
    background:rgb(34, 105, 187);
}
.login-page-container{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.form-container{
    width:500px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 2rem;
}